<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper" align="middle">
            <img src="/assets/images/UGA_logo.png" width="150" align="middle" style="padding-right: 70px">
            <img src="/assets/images/LIG_logo.png" width="100" align="middle" style="padding-right: 70px">
            <img src="/assets/images/CNRS_logo.png" width="100" align="middle" style="padding-right: 70px">

        </div>

    </div>

</footer>