<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper" align="middle">
            <img src="{{ site.baseurl }}/assets/images/UGA_logo.png"  width="150" style="padding-right: 70px">
            <img src="{{ site.baseurl }}/assets/images/LIG_logo.png"  width="100" style="padding-right: 70px">
            <img src="{{ site.baseurl }}/assets/images/CNRS_logo.png" width="100" style="padding-right: 70px">
            <img src="{{ site.baseurl }}/assets/images/UDP_logo.png"  width="180" style="padding-right: 70px; padding-top: 20px">
            <img src="{{ site.baseurl }}/assets/images/PSL_logo.png"  width="150" style="padding-right: 70px; padding-top: 20px">
        </div>

    </div>

</footer>